*{
    margin: 0;
    padding: 0;
}
.boding{
    height: 700px;
    color:#fff
}
.heading{

}
.heding_grow{

}
.Logo_img{
    padding-top: 40;
    padding-left: 375;
    padding-bottom: 620px;
}
.text_growe{
    padding-top: 45px;
    padding-left: 424px;
    padding-bottom: 625px;
}
.logotext{

}
.heding_Hreff_line{
    padding-left: 1012px;
    padding-top: 61px;
    padding-bottom: 632px;
}
.heding_link1{
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.heding_link{
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.HomeMeta{

}
.title{

}
.title_text{
    padding-top: 164px;
    padding-left: 373px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.sub_title{

}
.subtitle_text{
    padding-top: 403px;
    padding-left: 373px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub_button{

}
.buttou{

}
.watch_wideo{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Image_mapping{
    padding-top: 162.71px;
    padding-left: 935.94px;
    padding-bottom: 162.44px;

}
.Brand{

}
.Brand_hreff1{
padding-top: 97px;
padding-bottom: 96px;
padding-left: 345px;
}
.Brand_hreff2{
    padding-top: 97px;
    padding-bottom: 96px;
    padding-left: 533px;
}
.Brand_hreff3{
    padding-top: 97px;
    padding-bottom: 96px;
    padding-left: 761px;
}
.Brand_hreff4{
    padding-top: 97px;
    padding-bottom: 96px;
    padding-left: 969px;
}
.Brand_hreff5{
    padding-top: 97px;
    padding-bottom: 96px;
    padding-left: 1177px;
}
.Brand_hreff6{
    padding-top: 97px;
    padding-bottom: 96px;
    padding-left: 1385px;
}