*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    background:#fff;
}
img {
	max-width: 100%;
	display: block;
}

.container{
    width: 1170px;
    height: 0 auto;
}

.menu_bar{
    margin-top: 40px;
    margin-left: 375px;
    display: flex;
    justify-content: space-between;
}
.menu_bar_logo{

}
.menu_hreff{
    width: 533px;
    display: flex;
    justify-content: flex-end;
    
}
.line_bar{
    justify-content: space-around;
    align-items:center;
}

.line_1{
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.line_2{
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.home_meta{
    margin-top: 40px;
    margin-left: 373px;
    margin-bottom: 162px;
    display: flex;
    gap: 40px;
}
.home_meta_cnt{
    Width: 522px;
    Height: 374px;

}
.home_meta_title_text{
    
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.home_meta_sub_title{

}
.home_meta_subtitle_text{
    margin-top: 17px;
    width: 466px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.home_meta_sub_button{
    margin-top: 37px;
    display: flex;
	gap: 72px;
}
.home_meta_sub_button__button{
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
	color: #ffffff;
	background: #F25822;
	border-radius: 50px;
	padding: 15px 30px;
	border: none;
	cursor: pointer;
}

.btn-play{
    background: #ffffff;
	border-radius: 50px;
	padding: 15px 30px;
	border: none;
	cursor: pointer;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.home_meta_Image_mapping{
    

}
.Brand_line{
	margin-top: 97px; 
    margin-right: 375px;
    margin-bottom:  96px;
    margin-left:  345px;
    display: flex;
	justify-content: space-between;
    gap: 48px;
}